body {
    display: flex;
    flex-direction: row;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
}

nav {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    margin: 10px;
    padding: 10px;
}

a {
    margin-top: 10px;
    line-height: 30px;
    color: #000;
    text-decoration: underline #00ffae;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    padding: 10px;
}

section {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #00ffae;
    border-radius: 3px;
}

header {
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    display: block;
    white-space: pre-wrap;
    background: #e1f7f4;
    padding: 30px;
}

p code,
li code {
    display: inline-block;
    white-space: normal;
    padding: 0px 4px 0px 4px;
}

.p5-container {
    padding: 10px;
    background: #ffe0ff;
}


@media (min-width: 1400px) {
    nav {
        width: 250px;
    }
    main {
        width: 100%;
    }
}

@media (max-width: 800px) {
    nav {
        width: 25%;
    }
    main {
        width: 75%;
    }
}

@media (max-width: 550px) {
    body {
        flex-direction: column;
    }
    nav {
        width: auto;
    }
    main {
        width: auto;
    }
}
