#sketch-holder {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#sketch-holder canvas {
    width: 100%: !important;
    height: auto !important;
}
