:root {
    --primary-text-color: #2a2a2a;
    --light-text-color: #f1f1f1;
    --hot-accent-color: #FF6D27;
    --cool-accent-color: #59B3EF;
}

html,
body {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: var(--primary-text-color, black);
}

h1 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
}

blockquote {
    font-size: 28px;
    line-height: 40px;
    font-style: italic;
    text-align: center;
}

img {
    max-width: 90%;
    margin: 40px auto 40px auto;
    display: block;
}

button {
    margin: 20px auto 20px auto;
    display: block;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: var(--light-text-color, white);
    background: var(--cool-accent-color, lightblue);
}

header {
    display: block;
    overflow: hidden;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
}

section {
    padding-top: 60px;
}

#header-img {
    height: 20px;
    width: auto;
    float: left;
    margin: 0;
    display: inline-block;
}

#nav-bar {
    float: right;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    padding: 15px;
    text-align: center;
    color: var(--primary-text-color, black);

}

#purchase {
    text-align: center;
}

.section-content {
    max-width: 80%;
    margin: auto;
}

.column-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.half-width-column {
    flex-basis: 50%;
    max-width: 48%;
    min-width: 300px;
}

.video-container {
    margin: auto;
    position: relative;
    padding-bottom: 56.25%; /*16:9*/
    height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

input[type=email] {
    height: 30px;
    width: 200px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

input[type=submit] {
    margin: 20px auto 20px auto;
    display: block;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: var(--light-text-color, white);
    background: var(--hot-accent-color, orange);
}

footer {
    margin-top: 60px;
    padding-bottom: 20px;
    width: 100%;
    background: #f1f1f1;
    text-align: center;
}

#footer-nav-bar {
    padding: 10px;
    background: #e8e8e8;
}

@media (max-width: 780px) {
    .half-width-column {
        max-width: 100%;
        flex-basis: 100%;
    }
}
